---
print-config: true
proxy-info:
  proxy-ips:
    - "127.0.0.4"
  proxy-shards: 12
  request-port-base: 32000
client-info:
  endpoint-type: 1 # 1 for UDP Endpoint, 2 for GRPC Endpoint [to be supported soon]
  client-id: 1
  client-ip: "127.0.0.5"
  request-port: 32912
  is-openloop: true
  poisson-rate: 60 # it means the client sends x reqs/10ms on average (should be larger than 10, otherwise, the submission rate is not accurate)
  duration-sec: 60 # it means the duration of the client runs (second)
  key-num: 1000000 # when key-num is 1, it means there is no commutativity optimization
  skew-factor: 0.5 # 0-0.99 The higher the zipfian factor is, the more skewed the workload is
  write-ratio: 0.5 # 0-1, the ratio of write requests
  request-retry-time-us: 100000 # After the request is submitted, if we cannot get the response after such long time, then we will retry
